.container {
  margin: auto;
  background-color: #ff1D58;
  padding: 2rem 0;
}

.container h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 2rem;
}
.container h3{
  font-size: 3rem;
  color: #fff;
  margin-left: 1rem;
  text-align: center;
}
.container button {
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
  margin: 1rem 0;
  padding: 0 0.5rem;
  border-radius: 5px;
  z-index: -1;
  background-color: transparent;
  color: yellow;
}

.container button:hover {
  background-color: #8d2e53;
}
.cloud {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.container img {
  text-align: center;
  width: 300px;
  height: 200px;
}

.aqi-description {
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.aqi-1 {
  color: green;
}

.aqi-2 {
  color: yellow;
}

.aqi-3 {
  color: orange;
}

.aqi-4 {
  color: red;
}

.aqi-5 {
  color: purple;
}

.componentsList li {
  list-style: none;
  padding: 2rem 1rem;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.componentsList li:hover {
  background-color: #cf4378;
}

.componentsList li:nth-child(odd) {
  background-color: #ff1D58 ;
}

.componentsList li:nth-child(even) {
  background-color: #f75990;
}

.componentsList li:nth-child(even):hover {
  background-color: rgba(160, 2, 99, 0.6);
}

.componentsList li:nth-child(odd):hover {
  background-color: rgba(160, 2, 99, 0.6);
}

.componentsList {
  padding: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
