.gridList {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  place-self: center;
}

.gridList {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.gridList .gridListItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.5rem 0 0 1rem;
  margin: 0;
  color: #fff;
  clear: both;
}

.gridList li:hover {
  background-color: #f80562;
}

.gridList a {
  text-decoration: none;
  color: #fff;
}

.gridList span {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
}

.gridList button {
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border: none;
  margin: 2rem 0;
  padding: 0 0.5rem;
  border-radius: 5px;
  z-index: -1;
  background-color: transparent;
  color: #62f805;
}

.gridList button:hover {
  background-color: #8d2e53;
}

.position img {
  margin-right: 1rem;
}

.gridList .gridListItem img {
  width: 20px;
  height: 20px;
  border-radius: 70%;
  padding: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ec4c8a;
  padding-top: 1rem;
  position: relative;
}

.homeContainer h2 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homeContainer input {
  padding: 1rem 0.5rem;
  margin: 1rem;
  width: 95%;
  border: none;
  border-radius: 5px;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3rem;
  padding: 4rem 0.8rem;
  align-items: center;
  border: #54003e solid 1px;
}

.split h2 {
  color: #fff;
  font-size: 2rem;
}

.gridList .gridListItem.even {
  background-color: #cf4378;
}

.gridList .gridListItem.odd {
  background-color: #e94b88;
}

.gridList .gridListItem.odd:hover {
  background-color: rgba(160, 2, 99, 0.6);
}

.gridList .gridListItem.even:hover {
  background-color: rgba(160, 2, 99, 0.6);
}

.position {
  display: flex;
  align-items: center;
}

.principal {
  background-image: url('../assets/tunisa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 96%;
  height: 150%;
  background-color: #54003e;
  z-index: 1;
}

.principal h2 {
  color: #fff;
  text-align: center;
  background-color: rgba(160, 2, 99, 0.6);
  margin: 0;
  padding: 6.5rem 0;
}

@media screen and (max-width: 576px) {
  .gridList {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    place-self: center;
    padding: 0;
  }

  .gridList .gridListItem:nth-child(odd) {
    background-color: #cf4378 !important;
  }

  .gridList .gridListItem:nth-child(even) {
    background-color: #e94b88 !important;
  }
}
