.left img {
  color: #fff;
  width: 30px;
  margin-left: 1rem;
}

.home img {
  width: 30px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background-color: #ec4c8a;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

nav span {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 576px) {
  nav span {
    display: none;
  }
}
